{% extends 'base.html' %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kurs Qo'shish</h3>
                    </div>
                    <form role="form" action="{% url 'add_course_save' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                             {% if messages %}
                                <div class="form-group">
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == "error" %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == "success" %}
                                                <div class="alert alert-success">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label>Kurs Nomi</label>
                                <input type="text" class="form-control" name="course" placeholder="Kurs nomini kiriting">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Qo'shish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}