{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ all_student_count }}</h3>
              <p>Jami Talabalar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="{% url 'manage_student' %}" class="small-box-footer">Batafsil <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ staff_count }}</h3>
              <p>O'qituvchilar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'manage_staff' %}" class="small-box-footer">Batafsil <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ course_count }}</h3>
              <p>Kurslar</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'manage_course' %}" class="small-box-footer">Batafsil <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ subject_count }}</h3>
              <p>Fanlar</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'manage_subject' %}" class="small-box-footer">Batafsil <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      </div>
</section>
{% endblock content %}